[submodule "beast"]
	path = beast
	url = https://github.com/boostorg/beast.git
[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/clemahieu/lmdb.git
	branch = mdb.RE/0.9
[submodule "phc-winner-argon2"]
	path = phc-winner-argon2
	url = https://github.com/clemahieu/phc-winner-argon2.git
[submodule "bls_agg/mcl"]
	path = bls_agg/mcl
	url = https://github.com/peng-pl/mcl.git
[submodule "bls_agg/bls"]
	path = bls_agg/bls
	url = https://github.com/peng-pl/bls.git
[submodule "bls_agg/cybozulib"]
	path = bls_agg/cybozulib
	url = https://github.com/peng-pl/cybozulib.git
[submodule "bls_agg/xbyak"]
	path = bls_agg/xbyak
	url = https://github.com/peng-pl/xbyak.git
